altair
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
dacite
fonttools
gitdb
GitPython
htmlmin
idna
ImageHash
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
llvmlite
markdown-it-py
MarkupSafe
matplotlib
mdurl
missingno
multimethod
narwhals
networkx
numba
numpy
packaging
pandas
patsy
phik
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
referencing
requests
rich
rpds-py
scipy
seaborn
setuptools
six
smmap
statsmodels
streamlit
tangled-up-in-unicode
tenacity
toml
tornado
tqdm
typeguard
typing_extensions
tzdata
urllib3
wheel
wordcloud
ydata-profiling
streamlit
ydata-profiling==4.7.0
visions==0.7.5
pip

